roles:
  k3s:
    location_type: "<git or local>"
    location: "<directory path for local or git repo url for git>"
    git_branch: "<branch name if using git>"

provision_settings:
  ansible_version: "<version of ansible to use>"
