box_name: "<box-name>"
vm_net: "<vmware-fusion-network>"

machine_settings:
  name: "<machine_name>"
  ip: "<ip address>"
  memory: "<memory settings>"
  cpus: "<cpu setting>"

provision_settings:
  ansible_version: "<ansible_version>"
